language: go

services:
  - docker

go:
  - tip
  - master

before_install:
  - docker pull hello-world

install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

before_script:
  - go get -t -d -v ./... 

script:
  - go build -v ./...
  - go test -race -coverprofile=coverage.txt -covermode=atomic
  - $GOPATH/bin/goveralls -service=travis-ci

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - "mkdir -p /tmp/travis-automerge"
  - "curl -o /tmp/travis-automerge https://raw.githubusercontent.com/cdown/travis-automerge/master/travis-automerge"
  - "chmod a+x /tmp/travis-automerge"
  - "BRANCHES_TO_MERGE_REGEX='^f/' BRANCH_TO_MERGE_INTO=staging GITHUB_REPO=mtenrero/AutomationTestQueue /tmp/travis-automerge"
  - test $TRAVIS_BRANCH = "staging" && "BRANCHES_TO_MERGE_REGEX=staging BRANCH_TO_MERGE_INTO=master GITHUB_REPO=mtenrero/AutomationTestQueue /tmp/travis-automerge"